@import '../../sass/all.scss';

.headerContainer-start{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContainer-front-end{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.headerContainer-ux{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.headerContainer-graphic{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.headerContainer-about{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.headerContainer-contact{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.title{
    height: 100%;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span{
        @include font-size(1.2);
        letter-spacing: 6px;
    }
}