@import '../../sass/all.scss';

.LangSwitchContainer{
    button{
        color: white;
        background: none;
        border: none;
        outline: none;
        @include font-size(0.6);
        font-family: $font-text;
    }
}

