$books-l: url('assets/Bookshelf@2x.png');
$books-s: url('assets/Bookshelf.png');
$process-l: url('assets/Process@2x.png');
$process-s: url('assets/Process.png');
$me-l: url('assets/Me@2x.png');
$me-s: url('assets/Me.png');
$code: url('assets/Code.png');
$dev: url('assets/Dev.png');
$sky: url('assets/Sky@2x.png');
$trree: url('assets/Tree@2x.png');
$girl: url('assets/girl@2x.png');
$threed: url('assets/3Dshapes@2x.png');
$illustration: url('assets/Ilustracja@2x.png');
$cosmos: url('assets/Cosmos@2x.png');

.background-image-bookshelf{
    background-image: $books-l;
    width: 100%;
    height: 100%;
    z-index: -4;
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: top  right ;
    position: absolute;
}

.background-image-process{
    background-image: $process-l;
    width: 100%;
    height: 100%;
    z-index: -3;
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: top 20px left ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.background-image-me{
    background-image: $me-l;
    color: transparent;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.background-image-code{
    background-image: $code;
    color: transparent;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: left top 50%;
    position: absolute;
}

.background-image-dev{
    background-image: $dev;
    color: transparent;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: right top 50%;
    position: absolute;
}

.background-image-sky{
    background-image: $sky;
    width: 100%;
    height: 100%;
    z-index: -3;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: top right ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.background-image-tree{
    background-image: $trree;
    color: transparent;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: right top 50%;
    position: absolute;
}

.background-image-girl{
    background-image: $girl;
    color: transparent;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: left top 45%;
    position: absolute;
}

.background-image-threed{
    background-image: $threed;
    color: transparent;
    width: 100%;
    height: 100%;
    z-index: -3;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right  top;
    position: absolute;
}

.background-image-illustration{
    background-image: $illustration;
    color: transparent;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: right 30px bottom;
    position: absolute;
}

.background-image-cosmos{
    background-image: $cosmos;
    color: transparent;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
}