@import '../../sass/all.scss';

.navContainer{
    height: 90%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    ul{
        font-family: $font-text;
        font-weight: 500;
        @include font-size(0.9);
        letter-spacing: 2px;
        line-height:30px;
        margin-bottom: 50px;
    }
    li{
        cursor: pointer;
    }
}