@import '../../sass/all.scss';

.desc{
    @include font-size(0.45);
    color: white;
    text-align: justify;
    text-justify: inter-word;
    width: 50%;
    height: 40%;
    align-content: flex-start;
    letter-spacing: 1px;
    line-height: 10px;
}