@import '../font/font.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

$background: #D21D21;
$test-color: #460b0c;;
$font-regular: 'Sporting Grotesque_Regular';
$font-bold: 'Sporting Grotesque_Bold';
$font-text: 'Montserrat', sans-serif;